In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

# Print library versions for reproducibility
print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

Pandas version: 2.2.2
NumPy version: 2.0.2

##  Data Creation

In [2]:
data = {
    'EmployeeID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 103],
    'Age': [34, 45, 28, 52, np.nan, 31, 45, 29, 38, np.nan, 28],
    'Department': ['HR', 'Engineering ', 'Sales', 'Marketing', 'Sales', 'HR', 'Engineering', 'Sales', 'Marketing', 'HR', 'Sales'],
    'Salary': [60000, 120000, 55000, 85000, '58000', 62000, np.nan, 56000, 88000, 61000, 55000],
    'Experience_Yrs': [10, 20, 5, 25, 6, 7, 20, 6, 14, np.nan, 5],
    'JoiningDate': ['2015-03-12', '2010-07-20', '2020-01-15', '2008-11-01', '2019-05-30', '2018-09-22', '2010-07-20', '2022-02-10', '2014-08-14', '2017-04-19', '2020-01-15'],
    'Gender': ['Female', 'Male', 'Male', 'F', 'Male', 'F', 'M', 'Male', 'Female', 'Female', 'M'],
    'PerformanceScore': [4.5, 4.9, 3.8, 4.2, 3.5, 4.0, 4.8, 3.9, 4.6, 3.7, 3.8]
}

df = pd.DataFrame(data)

print("--- Original Messy DataFrame ---")
print(df)

--- Original Messy DataFrame ---
    EmployeeID   Age    Department  Salary  Experience_Yrs JoiningDate  \
0          101  34.0            HR   60000            10.0  2015-03-12
1          102  45.0  Engineering   120000            20.0  2010-07-20
2          103  28.0         Sales   55000             5.0  2020-01-15
3          104  52.0     Marketing   85000            25.0  2008-11-01
4          105   NaN         Sales   58000             6.0  2019-05-30
5          106  31.0            HR   62000             7.0  2018-09-22
6          107  45.0   Engineering     NaN            20.0  2010-07-20
7          108  29.0         Sales   56000             6.0  2022-02-10
8          109  38.0     Marketing   88000            14.0  2014-08-14
9          110   NaN            HR   61000             NaN  2017-04-19
10         103  28.0         Sales   55000             5.0  2020-01-15

    Gender  PerformanceScore
0   Female               4.5
1     Male               4.9
2     Male               3.8
3        F               4.2
4     Male               3.5
5        F               4.0
6        M               4.8
7     Male               3.9
8   Female               4.6
9   Female               3.7
10       M               3.8

##  Data Cleaning

In [3]:
print("\nDataFrame Info:")
df.info()

print("\n\nDescriptive Statistics:")
print(df.describe())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeID        11 non-null     int64
 1   Age               9 non-null      float64
 2   Department        11 non-null     object
 3   Salary            10 non-null     object
 4   Experience_Yrs    10 non-null     float64
 5   JoiningDate       11 non-null     object
 6   Gender            11 non-null     object
 7   PerformanceScore  11 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 836.0+ bytes


Descriptive Statistics:
       EmployeeID        Age  Experience_Yrs  PerformanceScore
count   11.000000   9.000000       10.000000         11.000000
mean   105.272727  36.666667       11.800000          4.154545
std      2.969542   8.831761        7.450578          0.476159
min    101.000000  28.000000        5.000000          3.500000
25%    103.000000  29.000000        6.000000          3.800000
50%    105.000000  34.000000        8.500000          4.000000
75%    107.500000  45.000000       18.500000          4.550000
max    110.000000  52.000000       25.000000          4.900000

In [4]:
print(f"Number of duplicate rows found: {df.duplicated().sum()}")
df_cleaned = df.drop_duplicates(keep='first').copy()

print("\nDataFrame after dropping duplicates:")
print(df_cleaned)
print(f"\nShape after dropping duplicates: {df_cleaned.shape}")

Number of duplicate rows found: 0

DataFrame after dropping duplicates:
    EmployeeID   Age    Department  Salary  Experience_Yrs JoiningDate  \
0          101  34.0            HR   60000            10.0  2015-03-12
1          102  45.0  Engineering   120000            20.0  2010-07-20
2          103  28.0         Sales   55000             5.0  2020-01-15
3          104  52.0     Marketing   85000            25.0  2008-11-01
4          105   NaN         Sales   58000             6.0  2019-05-30
5          106  31.0            HR   62000             7.0  2018-09-22
6          107  45.0   Engineering     NaN            20.0  2010-07-20
7          108  29.0         Sales   56000             6.0  2022-02-10
8          109  38.0     Marketing   88000            14.0  2014-08-14
9          110   NaN            HR   61000             NaN  2017-04-19
10         103  28.0         Sales   55000             5.0  2020-01-15

    Gender  PerformanceScore
0   Female               4.5
1     Male               4.9
2     Male               3.8
3        F               4.2
4     Male               3.5
5        F               4.0
6        M               4.8
7     Male               3.9
8   Female               4.6
9   Female               3.7
10       M               3.8

Shape after dropping duplicates: (11, 8)

In [5]:
# Convert 'Salary' to numeric (errors='coerce' will turn non-numeric values to NaN)
df_cleaned['Salary'] = pd.to_numeric(df_cleaned['Salary'], errors='coerce')

# Convert 'JoiningDate' from string to datetime
df_cleaned['JoiningDate'] = pd.to_datetime(df_cleaned['JoiningDate'])

print("DataFrame Info after correcting data types:")
df_cleaned.info()
print("\n'Salary' and 'JoiningDate' columns are now numeric and datetime respectively.")

DataFrame Info after correcting data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeID        11 non-null     int64
 1   Age               9 non-null      float64
 2   Department        11 non-null     object
 3   Salary            10 non-null     float64
 4   Experience_Yrs    10 non-null     float64
 5   JoiningDate       11 non-null     datetime64[ns]
 6   Gender            11 non-null     object
 7   PerformanceScore  11 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 836.0+ bytes

'Salary' and 'JoiningDate' columns are now numeric and datetime respectively.

In [6]:
# Strip whitespace from 'Department'
df_cleaned['Department'] = df_cleaned['Department'].str.strip()
print("Unique values in 'Department' after stripping whitespace:")
print(df_cleaned['Department'].unique())

# Standardize 'Gender' column
gender_map = {'Male': 'M', 'M': 'M', 'Female': 'F', 'F': 'F'}
df_cleaned['Gender'] = df_cleaned['Gender'].map(gender_map)
print("\nUnique values in 'Gender' after standardization:")
print(df_cleaned['Gender'].unique())

Unique values in 'Department' after stripping whitespace:
['HR' 'Engineering' 'Sales' 'Marketing']

Unique values in 'Gender' after standardization:
['F' 'M']

In [7]:
print("Missing values before handling:")
print(df_cleaned.isnull().sum())

# Strategy:
# - Age: Fill with the median age
# - Salary: Fill with the median salary of the respective Department
# - Experience_Yrs: Fill with the mean

# Fill 'Age' with median
median_age = df_cleaned['Age'].median()
df_cleaned['Age'].fillna(median_age, inplace=True)
print(f"\nFilled 'Age' NaNs with median value: {median_age}")

# Fill 'Experience_Yrs' with mean
mean_exp = df_cleaned['Experience_Yrs'].mean()
df_cleaned['Experience_Yrs'].fillna(mean_exp, inplace=True)
print(f"Filled 'Experience_Yrs' NaNs with mean value: {round(mean_exp, 2)}")

# Fill 'Salary' using group-wise median
df_cleaned['Salary'] = df_cleaned.groupby('Department')['Salary'].transform(
    lambda x: x.fillna(x.median())
)
print("Filled 'Salary' NaNs with the median salary of each department.")

print("\nMissing values after handling:")
print(df_cleaned.isnull().sum())

Missing values before handling:
EmployeeID          0
Age                 2
Department          0
Salary              1
Experience_Yrs      1
JoiningDate         0
Gender              0
PerformanceScore    0
dtype: int64

Filled 'Age' NaNs with median value: 34.0
Filled 'Experience_Yrs' NaNs with mean value: 11.8
Filled 'Salary' NaNs with the median salary of each department.

Missing values after handling:
EmployeeID          0
Age                 0
Department          0
Salary              0
Experience_Yrs      0
JoiningDate         0
Gender              0
PerformanceScore    0
dtype: int64

/tmp/ipython-input-1787387162.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Age'].fillna(median_age, inplace=True)
/tmp/ipython-input-1787387162.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Experience_Yrs'].fillna(mean_exp, inplace=True)

In [8]:
print("--- Fully Cleaned DataFrame ---")
print(df_cleaned)

--- Fully Cleaned DataFrame ---
    EmployeeID   Age   Department    Salary  Experience_Yrs JoiningDate  \
0          101  34.0           HR   60000.0            10.0  2015-03-12
1          102  45.0  Engineering  120000.0            20.0  2010-07-20
2          103  28.0        Sales   55000.0             5.0  2020-01-15
3          104  52.0    Marketing   85000.0            25.0  2008-11-01
4          105  34.0        Sales   58000.0             6.0  2019-05-30
5          106  31.0           HR   62000.0             7.0  2018-09-22
6          107  45.0  Engineering  120000.0            20.0  2010-07-20
7          108  29.0        Sales   56000.0             6.0  2022-02-10
8          109  38.0    Marketing   88000.0            14.0  2014-08-14
9          110  34.0           HR   61000.0            11.8  2017-04-19
10         103  28.0        Sales   55000.0             5.0  2020-01-15

   Gender  PerformanceScore
0       F               4.5
1       M               4.9
2       M               3.8
3       F               4.2
4       M               3.5
5       F               4.0
6       M               4.8
7       M               3.9
8       F               4.6
9       F               3.7
10      M               3.8

##  Feature Engineering

In [ ]:
df_featured = df_cleaned.copy()

# Create a 'Salary_per_Year_of_Experience' ratio
df_featured['Salary_per_Exp'] = df_featured['Salary'] / (df_featured['Experience_Yrs'] + 0.01)

# Extract features from 'JoiningDate'
df_featured['JoinYear'] = df_featured['JoiningDate'].dt.year
df_featured['JoinMonth'] = df_featured['JoiningDate'].dt.month
df_featured['Tenure_Days'] = (pd.to_datetime('today') - df_featured['JoiningDate']).dt.days

print("DataFrame with new features:")
print(df_featured[['EmployeeID', 'JoiningDate', 'JoinYear', 'JoinMonth', 'Tenure_Days', 'Salary_per_Exp']].head())

DataFrame with new features:
   EmployeeID JoiningDate  JoinYear  JoinMonth  Tenure_Days  Salary_per_Exp
0         101  2015-03-12      2015          3         3865     5994.005994
1         102  2010-07-20      2010          7         5561     5997.001499
2         103  2020-01-15      2020          1         2095    10978.043912
3         104  2008-11-01      2008         11         6187     3398.640544
4         105  2019-05-30      2019          5         2325     9650.582363

In [ ]:
# Bin the 'Age' column into categories
age_bins = [0, 30, 45, 100]
age_labels = ['Young', 'Mid-Age', 'Senior']
df_featured['AgeGroup'] = pd.cut(df_featured['Age'], bins=age_bins, labels=age_labels, right=False)

print("DataFrame with binned 'AgeGroup' feature:")
print(df_featured[['Age', 'AgeGroup']].head(10))

DataFrame with binned 'AgeGroup' feature:
    Age AgeGroup
0  34.0  Mid-Age
1  45.0   Senior
2  28.0    Young
3  52.0   Senior
4  34.0  Mid-Age
5  31.0  Mid-Age
6  45.0   Senior
7  29.0    Young
8  38.0  Mid-Age
9  34.0  Mid-Age

In [ ]:
# Method 1: One-Hot Encoding for nominal data (no intrinsic order) like 'Department'
print("Applying One-Hot Encoding to 'Department'...")
department_dummies = pd.get_dummies(df_featured['Department'], prefix='Dept')
df_encoded = pd.concat([df_featured, department_dummies], axis=1)

print("\nDataFrame after One-Hot Encoding:")
print(df_encoded[['EmployeeID', 'Department', 'Dept_Engineering', 'Dept_HR', 'Dept_Marketing', 'Dept_Sales']].head())

Applying One-Hot Encoding to 'Department'...

DataFrame after One-Hot Encoding:
   EmployeeID   Department  Dept_Engineering  Dept_HR  Dept_Marketing  \
0         101           HR             False     True           False
1         102  Engineering              True    False           False
2         103        Sales             False    False           False
3         104    Marketing             False    False            True
4         105        Sales             False    False           False

   Dept_Sales
0       False
1       False
2        True
3       False
4        True

In [ ]:
# Method 2: Label Encoding for ordinal data (has an order) like 'AgeGroup'
print("Applying Label Encoding to 'AgeGroup'...")
label_encoder = LabelEncoder()
df_encoded['AgeGroup_Encoded'] = label_encoder.fit_transform(df_encoded['AgeGroup'])

print("\nDataFrame after Label Encoding:")
print(f"Mapping: {list(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))}")
print(df_encoded[['AgeGroup', 'AgeGroup_Encoded']].head())

Applying Label Encoding to 'AgeGroup'...

DataFrame after Label Encoding:
Mapping: [('Mid-Age', np.int64(0)), ('Senior', np.int64(1)), ('Young', np.int64(2))]
  AgeGroup  AgeGroup_Encoded
0  Mid-Age                 0
1   Senior                 1
2    Young                 2
3   Senior                 1
4  Mid-Age                 0

In [ ]:
print("--- Final DataFrame After Feature Engineering ---")
# Dropping original columns that have been transformed for clarity
df_final_features = df_encoded.drop(['Department', 'AgeGroup', 'JoiningDate', 'Gender'], axis=1)
print(df_final_features.head())

--- Final DataFrame After Feature Engineering ---
   EmployeeID   Age    Salary  Experience_Yrs  PerformanceScore  \
0         101  34.0   60000.0            10.0               4.5
1         102  45.0  120000.0            20.0               4.9
2         103  28.0   55000.0             5.0               3.8
3         104  52.0   85000.0            25.0               4.2
4         105  34.0   58000.0             6.0               3.5

   Salary_per_Exp  JoinYear  JoinMonth  Tenure_Days  Dept_Engineering  \
0     5994.005994      2015          3         3865             False
1     5997.001499      2010          7         5561              True
2    10978.043912      2020          1         2095             False
3     3398.640544      2008         11         6187             False
4     9650.582363      2019          5         2325             False

   Dept_HR  Dept_Marketing  Dept_Sales  AgeGroup_Encoded
0     True           False       False                 0
1    False           False       False                 1
2    False           False        True                 2
3    False            True       False                 1
4    False           False        True                 0

##  Feature Scaling

In [9]:
# Select numerical columns for scaling
cols_to_scale = ['Age', 'Salary', 'Experience_Yrs', 'PerformanceScore', 'Salary_per_Exp', 'Tenure_Days']
df_to_scale = df_final_features[cols_to_scale]

print("--- Numerical columns selected for scaling ---")
print(df_to_scale.head())

NameError: name 'df_final_features' is not defined

In [ ]:
scaler_std = StandardScaler()
df_standardized = pd.DataFrame(scaler_std.fit_transform(df_to_scale), columns=cols_to_scale)

print("Data after Standardization (Mean ~ 0, Std Dev ~ 1):")
print(df_standardized.head())
print("\nDescriptive stats of standardized data:")
print(df_standardized.describe().round(2))

Data after Standardization (Mean ~ 0, Std Dev ~ 1):
        Age    Salary  Experience_Yrs  PerformanceScore  Salary_per_Exp  \
0 -0.287019 -0.605072       -0.267090          0.760914       -0.625882
1  1.160035  1.890849        1.216743          1.641972       -0.624645
2 -1.076321 -0.813065       -1.009007         -0.780938        1.432781
3  2.080887  0.434895        1.958660          0.100120       -1.697901
4 -0.287019 -0.688269       -0.860623         -1.441731        0.884472

   Tenure_Days
0     0.216356
1     1.295014
2    -0.909366
3     1.693150
4    -0.763086

Descriptive stats of standardized data:
         Age  Salary  Experience_Yrs  PerformanceScore  Salary_per_Exp  \
count  11.00   11.00           11.00             11.00           11.00
mean    0.00    0.00           -0.00              0.00            0.00
std     1.05    1.05            1.05              1.05            1.05
min    -1.08   -0.81           -1.01             -1.44           -1.70
25%    -0.81   -0.73           -0.86             -0.78           -0.63
50%    -0.29   -0.56           -0.27             -0.34           -0.51
75%     0.70    0.50            0.77              0.87            0.82
max     2.08    1.89            1.96              1.64            1.43

       Tenure_Days
count        11.00
mean         -0.00
std           1.05
min          -1.39
25%          -0.84
50%          -0.27
75%           0.82
max           1.69

In [ ]:
scaler_minmax = MinMaxScaler()
df_normalized = pd.DataFrame(scaler_minmax.fit_transform(df_to_scale), columns=cols_to_scale)

print("Data after Normalization (Values between 0 and 1):")
print(df_normalized.head())
print("\nDescriptive stats of normalized data:")
print(df_normalized.describe().round(2))

Data after Normalization (Values between 0 and 1):
        Age    Salary  Experience_Yrs  PerformanceScore  Salary_per_Exp  \
0  0.250000  0.076923            0.25          0.714286        0.342423
1  0.708333  1.000000            0.75          1.000000        0.342819
2  0.000000  0.000000            0.00          0.214286        1.000000
3  1.000000  0.461538            1.00          0.500000        0.000000
4  0.250000  0.046154            0.05          0.000000        0.824859

   Tenure_Days
0     0.521138
1     0.870901
2     0.156115
3     1.000000
4     0.203547

Descriptive stats of normalized data:
         Age  Salary  Experience_Yrs  PerformanceScore  Salary_per_Exp  \
count  11.00   11.00           11.00             11.00           11.00
mean    0.34    0.30            0.34              0.47            0.54
std     0.33    0.39            0.35              0.34            0.34
min     0.00    0.00            0.00              0.00            0.00
25%     0.08    0.03            0.05              0.21            0.34
50%     0.25    0.09            0.25              0.36            0.38
75%     0.56    0.48            0.60              0.75            0.80
max     1.00    1.00            1.00              1.00            1.00

       Tenure_Days
count        11.00
mean          0.45
std           0.34
min           0.00
25%           0.18
50%           0.36
75%           0.72
max           1.00